div{
    background-color: rgb(127, 127, 250);
    height: 200px;
    width: 800px;
    margin: 10px;
}

p{
    color: rgb(255, 255, 255);
}

.c1{
    background-color: rgb(0, 0, 114);
    height: 200px;
    width: 1000px;
    margin: 10px;
}

.p1{
    color: rgb(94, 196, 162);
    font-family: "emoji", serif;;
}


.p2{
    color: rgb(94, 196, 162);
    font-family: "system-ui", serif;;
}

.p3{
    color: rgb(0, 53, 35);
    font-family: "Georgia", serif;;
}