.block1{
    background-color: darkblue;
    float: left;
    height: 200px;
    width: 200px;
    margin: 10px;
}

.block2{
    margin-left: 20px;
    height: 200px;
    width: 150px;
    background-color: rgb(104, 207, 255);
    float: right;
}

.block3{
    margin-left: 20px;
    height: 100px;
    width: 150px;
    background-color: rgb(104, 207, 255);
    clear: both;
}

.profil {
    width: 140px;
    height: 90px;
    border-radius: 10;
}