body {
  font-family: arial, sans-serif;
  background-color: #f0f8ff; /* Fond clair pour la page */
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #3e8e41; /* Couleur de titre */
}

form {
  background-color: #d8f3dc;
  max-width: 500px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.l1 {
  color: #5fa8d3;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #40916c;
}

input[type="text"], 
input[type="password"],
input[type="email"], 
input[type="date"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 3px solid #5fa8d3;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type="submit"] {
  color: white;
  background-color: #5fa8d3;
  cursor: pointer;
  border-radius: 8px;
  box-sizing: border-box;
  border: 3px solid #4361ee;
  padding: 12px 25px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #2d6a4f;
}

input[type="checkbox"]:not(:checked) + span {
  color: #FF6347; 
}


input[type="checkbox"]:checked ~ form input[type="submit"] {
  background-color: #5fa8d3;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ form input[type="submit"]:hover {
  background-color: #2d6a4f;
}

input[type="checkbox"] {
  margin-right: 10px;
}

@media (max-width: 500px) {
  form {
    width: 100%;
    padding: 10px;
  }
  input[type="text"], 
  input[type="email"], 
  input[type="password"], 
  input[type="date"] {
    padding: 10px;
  }
}
